{% extends 'base.html' %}
{% block title %} Alertas {% endblock %}

{% block content %}
<div class="overflow-x-auto">
    <table id="alerts-table" class="table table-zebra">
        <thead>
            <tr>
                <th>Crypto</th>
                <th>Hora</th>
                <th>Señal</th>
            </tr>
        </thead>
        <tbody>
            <!-- Las filas de la tabla se llenarán con JavaScript -->
        </tbody>
    </table>
</div>

<script>
    const websocket = new WebSocket("ws://127.0.0.1:5000/ws/alerts/rsi");

    websocket.onmessage = function(event) {
        const data = JSON.parse(event.data);
        const alertsTable = document.getElementById("alerts-table").getElementsByTagName("tbody")[0];

        alertsTable.innerHTML = "";

        data.alerts.forEach(alert => {
            const row = alertsTable.insertRow();
            const cryptoCell = row.insertCell(0);
            const timeCell = row.insertCell(1);
            const signalCell = row.insertCell(2);

            cryptoCell.innerHTML = alert[0];
            timeCell.innerHTML = alert[1];

            if (alert[2] === 0) {
                signalCell.innerHTML = "--";
            } else if (alert[2] === 1) {
                signalCell.innerHTML = "BUY";
            } else if (alert[2] === 2) {
                signalCell.innerHTML = "SELL";
            } else {
                signalCell.innerHTML = "N/A";
            }
        });
    };

    websocket.onclose = function(event) {
        console.error("WebSocket closed unexpectedly");
    };
</script>
{% endblock %}
